.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #1F55AB;
    -moz-box-shadow: 0 10px 6px -6px #1F55AB;
    box-shadow: 0 10px 6px -6px #1F55AB;
}
body{
    background-color: #6FA3DD !important;
}

.box {
    background:#FFF;
    padding: 10px;
    margin-top: 20px;
}
.site-header{
    padding: 0px !important;
}
header .site-header{
    padding: 0px;
}
li a {
    font-size: 15px !important;
    color: #1F55AB !important;
}
.current-menu-item{
    background: #1F55AB;
    color: white !important;
}
.main-navigation .menu .menu-item a{
    padding: 5px !important;
}
.site-footer{
    background:  #1F55AB !important;
    color: white;
}
.site-footer ul li a{
    color: white !important;
}
.widget-title{
    color: #1F55AB !important;
}
.page-title{
    font-size: 20px !important;
}
.news-title a{
    color: #1F55AB !important;
}
.btn-success{
    background-color: #1F55AB !important;
}
.service, .quote, .monthly, .yearly{
    visibility: hidden;
}
.date{
    color: #1F55AB !important;
}